{"openapi":"3.0.0","info":{"title":"mphb\/v1","version":"1.0.0"},"servers":[{"url":"https:\/\/hbdemo.getmotopress.com\/{demo-id}\/wp-json\/mphb\/v1","description":"Demo website","variables":{"demo-id":{"default":"your-demo-id"}}}],"paths":{"\/bookings":{"get":{"description":"","summary":"List all bookings","tags":["Bookings"],"operationId":"GetBookings","parameters":[{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","edit"]}},{"name":"page","in":"query","description":"Current page of the collection.","required":false,"schema":{"type":"integer","description":"Current page of the collection."}},{"name":"per_page","in":"query","description":"Maximum number of items to be returned in result set.","required":false,"schema":{"type":"integer","description":"Maximum number of items to be returned in result set."}},{"name":"search","in":"query","description":"Limit results to those matching a string.","required":false,"schema":{"type":"string","description":"Limit results to those matching a string."}},{"name":"after","in":"query","description":"Limit response to resources published after a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published after a given ISO8601 compliant date."}},{"name":"before","in":"query","description":"Limit response to resources published before a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published before a given ISO8601 compliant date."}},{"name":"exclude","in":"query","description":"Ensure result set excludes specific IDs.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Ensure result set excludes specific IDs."}},{"name":"include","in":"query","description":"Limit result set to specific ids.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Limit result set to specific ids."}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items.","required":false,"schema":{"type":"integer","description":"Offset the result set by a specific number of items."}},{"name":"order","in":"query","description":"Order sort attribute ascending or descending.","required":false,"schema":{"type":"string","description":"Order sort attribute ascending or descending.","enum":["asc","desc"]}},{"name":"orderby","in":"query","description":"Sort collection by object attribute.","required":false,"schema":{"type":"string","description":"Sort collection by object attribute.","enum":["date","id","include","title","slug","modified"]}},{"name":"filter","in":"query","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization.","required":false,"schema":{"type":"object","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization."},"explode":true,"style":"deepObject"},{"name":"_embed","in":"query","description":"Embed all embeddable links to response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}},"links":{"payments":{"description":"Embeddable links.","operationId":"getPaymentsId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/payments"}},"accommodation":{"description":"Embeddable links","operationId":"getAccommodationsId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/accommodation"}},"accommodation_type":{"description":"Embeddable links","operationId":"getAccommodationTypesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/accommodation_type"}},"rate":{"description":"Embeddable links","operationId":"getRatesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/rate"}},"services":{"description":"Embeddable links","operationId":"getAccommodationTypes\/ServicesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/services"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Create a booking","tags":["Bookings"],"operationId":"PostBookings","parameters":[{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":true,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":true,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/bookings\/{id}":{"get":{"description":"","summary":"Retrieve a booking","tags":["Bookings"],"operationId":"GetBookingsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","edit"]}},{"name":"_embed","in":"query","description":"Embed all embeddable links to response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}},"links":{"payments":{"description":"Embeddable links.","operationId":"getPaymentsId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/payments"}},"accommodation":{"description":"Embeddable links","operationId":"getAccommodationsId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/accommodation"}},"accommodation_type":{"description":"Embeddable links","operationId":"getAccommodationTypesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/accommodation_type"}},"rate":{"description":"Embeddable links","operationId":"getRatesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/rate"}},"services":{"description":"Embeddable links","operationId":"getAccommodationTypes\/ServicesId","parameters":{"id":"$response.body#\/reserved_accommodations\/*\/services"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Update a booking","tags":["Bookings"],"operationId":"PostBookingsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Update a booking","tags":["Bookings"],"operationId":"PutBookingsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Update a booking","tags":["Bookings"],"operationId":"PatchBookingsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"delete":{"description":"","summary":"Delete a booking","tags":["Bookings"],"operationId":"DeleteBookingsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"force","in":"query","description":"Whether to bypass trash and force deletion.","required":false,"schema":{"type":"boolean","description":"Whether to bypass trash and force deletion."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/bookings"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/bookings\/batch":{"post":{"description":"","summary":"Batch update bookings","tags":["Batch"],"operationId":"PostBatch","parameters":[{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Batch update bookings","tags":["Batch"],"operationId":"PutBatch","parameters":[{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Batch update bookings","tags":["Batch"],"operationId":"PatchBatch","parameters":[{"name":"status","in":"query","description":"Booking status.","required":false,"schema":{"type":"string","description":"Booking status.","enum":["pending-user","pending-payment","pending","abandoned","confirmed","cancelled"]}},{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":false,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"customer","in":"query","description":"Customer Information.","required":false,"schema":{"type":"object","description":"Customer Information."},"explode":true,"style":"deepObject"},{"name":"reserved_accommodations","in":"query","description":"Reserved Accommodations.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation":{"type":"integer","description":"Accommodation id."},"accommodation_type":{"type":"integer","description":"Accommodation type id.","readOnly":true},"rate":{"type":"integer","description":"Rate id.","readOnly":true},"adults":{"type":"integer","description":"Adults."},"children":{"type":"integer","description":"Children."},"guest_name":{"type":"string","description":"Guest name."},"services":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Services id."},"adults":{"type":"integer","description":"Quantity of adults. Used for services that are paid for for each person."},"quantity":{"type":"integer","description":"How many times the customer will be charged."},"price":{"type":"number","description":"Price for a service.","readOnly":true}},"required":["id"]},"description":"Services."},"accommodation_price_per_days":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Services id.","readOnly":true},"price":{"type":"number","description":"Services id.","readOnly":true}}},"description":"Accommodation price breakdown per days.","readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"taxes":{"type":"object","properties":{"accommodation":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"services":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true},"fees":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","readOnly":true},"value":{"type":"number","readOnly":true}}},"readOnly":true}},"readOnly":true},"discount":{"type":"number","description":"Discount by coupon.","readOnly":true}},"required":["accommodation","adults"]},"description":"Reserved Accommodations."}},{"name":"coupon_code","in":"query","description":"Coupon code.","required":false,"schema":{"type":"string","description":"Coupon code."}},{"name":"note","in":"query","description":"Note.","required":false,"schema":{"type":"string","description":"Note."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/bookings\/availability":{"get":{"description":"","summary":"Search for available accommodations","tags":["Bookings"],"operationId":"GetBookingAvailability","parameters":[{"name":"check_in_date","in":"query","description":"Check in date as Y-m-d.","required":true,"schema":{"type":"string","description":"Check in date as Y-m-d."}},{"name":"check_out_date","in":"query","description":"Check out date as Y-m-d.","required":true,"schema":{"type":"string","description":"Check out date as Y-m-d."}},{"name":"accommodation_type","in":"query","description":"Accommodation Type id. Enter 0 to select all.","required":false,"schema":{"type":"integer","description":"Accommodation Type id. Enter 0 to select all."}},{"name":"adults","in":"query","description":"Count of adults.","required":false,"schema":{"type":"integer","description":"Count of adults."}},{"name":"children","in":"query","description":"Count of children.","required":false,"schema":{"type":"integer","description":"Count of children."}},{"name":"availability","in":"query","description":"","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"accommodation_type":{"type":"integer","description":"Accommodation Type id."},"title":{"type":"string","description":"Title."},"base_price":{"type":"number","description":"Base price."},"accommodations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Accommodation id."},"title":{"type":"string","description":"Title."}}}}}}}},{"name":"_embed","in":"query","description":"Embed all embeddable links to response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/booking_availability"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/payments":{"get":{"description":"","summary":"List all payments","tags":["Payments"],"operationId":"GetPayments","parameters":[{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}},{"name":"page","in":"query","description":"Current page of the collection.","required":false,"schema":{"type":"integer","description":"Current page of the collection."}},{"name":"per_page","in":"query","description":"Maximum number of items to be returned in result set.","required":false,"schema":{"type":"integer","description":"Maximum number of items to be returned in result set."}},{"name":"search","in":"query","description":"Limit results to those matching a string.","required":false,"schema":{"type":"string","description":"Limit results to those matching a string."}},{"name":"after","in":"query","description":"Limit response to resources published after a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published after a given ISO8601 compliant date."}},{"name":"before","in":"query","description":"Limit response to resources published before a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published before a given ISO8601 compliant date."}},{"name":"exclude","in":"query","description":"Ensure result set excludes specific IDs.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Ensure result set excludes specific IDs."}},{"name":"include","in":"query","description":"Limit result set to specific ids.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Limit result set to specific ids."}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items.","required":false,"schema":{"type":"integer","description":"Offset the result set by a specific number of items."}},{"name":"order","in":"query","description":"Order sort attribute ascending or descending.","required":false,"schema":{"type":"string","description":"Order sort attribute ascending or descending.","enum":["asc","desc"]}},{"name":"orderby","in":"query","description":"Sort collection by object attribute.","required":false,"schema":{"type":"string","description":"Sort collection by object attribute.","enum":["date","id","include","title","slug","modified"]}},{"name":"filter","in":"query","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization.","required":false,"schema":{"type":"object","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Create a payment","tags":["Payments"],"operationId":"PostPayments","parameters":[{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":true,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":true,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":true,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/payments\/{id}":{"get":{"description":"","summary":"Retrieve a payment","tags":["Payments"],"operationId":"GetPaymentsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Update a payment","tags":["Payments"],"operationId":"PostPaymentsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Update a payment","tags":["Payments"],"operationId":"PutPaymentsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Update a payment","tags":["Payments"],"operationId":"PatchPaymentsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"delete":{"description":"","summary":"Delete a payment","tags":["Payments"],"operationId":"DeletePaymentsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"force","in":"query","description":"Whether to bypass trash and force deletion.","required":false,"schema":{"type":"boolean","description":"Whether to bypass trash and force deletion."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/payments"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/payments\/batch":{"post":{"description":"","summary":"Batch update payments","tags":["Batch"],"operationId":"PostBatch_1","parameters":[{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Batch update payments","tags":["Batch"],"operationId":"PutBatch_1","parameters":[{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Batch update payments","tags":["Batch"],"operationId":"PatchBatch_1","parameters":[{"name":"status","in":"query","description":"Payment status.","required":false,"schema":{"type":"string","description":"Payment status.","enum":["pending","completed","failed","abandoned","on-hold","refunded","cancelled"]}},{"name":"gateway_id","in":"query","description":"Gateway.","required":false,"schema":{"type":"string","description":"Gateway.","enum":["manual","test","bank","paypal","2checkout","stripe"]}},{"name":"booking_id","in":"query","description":"Identifier of booking resource.","required":false,"schema":{"type":"integer","description":"Identifier of booking resource."}},{"name":"amount","in":"query","description":"Amount.","required":false,"schema":{"type":"number","description":"Amount."}},{"name":"currency","in":"query","description":"Payment currency in ISO format.","required":false,"schema":{"type":"string","description":"Payment currency in ISO format.","enum":["EUR","USD","GBP","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]}},{"name":"billing_info","in":"query","description":"Billing info.","required":false,"schema":{"type":"object","description":"Billing info."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodations":{"get":{"description":"","summary":"List all accommodations","tags":["Accommodations"],"operationId":"GetAccommodations","parameters":[{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}},{"name":"page","in":"query","description":"Current page of the collection.","required":false,"schema":{"type":"integer","description":"Current page of the collection."}},{"name":"per_page","in":"query","description":"Maximum number of items to be returned in result set.","required":false,"schema":{"type":"integer","description":"Maximum number of items to be returned in result set."}},{"name":"search","in":"query","description":"Limit results to those matching a string.","required":false,"schema":{"type":"string","description":"Limit results to those matching a string."}},{"name":"after","in":"query","description":"Limit response to resources published after a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published after a given ISO8601 compliant date."}},{"name":"before","in":"query","description":"Limit response to resources published before a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published before a given ISO8601 compliant date."}},{"name":"exclude","in":"query","description":"Ensure result set excludes specific IDs.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Ensure result set excludes specific IDs."}},{"name":"include","in":"query","description":"Limit result set to specific ids.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Limit result set to specific ids."}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items.","required":false,"schema":{"type":"integer","description":"Offset the result set by a specific number of items."}},{"name":"order","in":"query","description":"Order sort attribute ascending or descending.","required":false,"schema":{"type":"string","description":"Order sort attribute ascending or descending.","enum":["asc","desc"]}},{"name":"orderby","in":"query","description":"Sort collection by object attribute.","required":false,"schema":{"type":"string","description":"Sort collection by object attribute.","enum":["date","id","include","title","slug","modified"]}},{"name":"filter","in":"query","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization.","required":false,"schema":{"type":"object","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization."},"explode":true,"style":"deepObject"},{"name":"_embed","in":"query","description":"Embed all embeddable links to response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Create an accommodation","tags":["Accommodations"],"operationId":"PostAccommodations","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"accommodation_type_id","in":"query","description":"Unique identifier for the accommodation type resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the accommodation type resource."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodations\/{id}":{"get":{"description":"","summary":"Retrieve an accommodation","tags":["Accommodations"],"operationId":"GetAccommodationsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}},{"name":"_embed","in":"query","description":"Embed all embeddable links to response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Update an accommodation","tags":["Accommodations"],"operationId":"PostAccommodationsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Update an accommodation","tags":["Accommodations"],"operationId":"PutAccommodationsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Update an accommodation","tags":["Accommodations"],"operationId":"PatchAccommodationsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"delete":{"description":"","summary":"Delete an accommodation","tags":["Accommodations"],"operationId":"DeleteAccommodationsId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"force","in":"query","description":"Whether to bypass trash and force deletion.","required":false,"schema":{"type":"boolean","description":"Whether to bypass trash and force deletion."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodations"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodations\/batch":{"post":{"description":"","summary":"Batch update accommodations","tags":["Batch"],"operationId":"PostBatch_2","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Batch update accommodations","tags":["Batch"],"operationId":"PutBatch_2","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Batch update accommodations","tags":["Batch"],"operationId":"PatchBatch_2","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodation_types":{"get":{"description":"","summary":"List all accommodation types","tags":["Accommodation types"],"operationId":"GetAccommodationTypes","parameters":[{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}},{"name":"page","in":"query","description":"Current page of the collection.","required":false,"schema":{"type":"integer","description":"Current page of the collection."}},{"name":"per_page","in":"query","description":"Maximum number of items to be returned in result set.","required":false,"schema":{"type":"integer","description":"Maximum number of items to be returned in result set."}},{"name":"search","in":"query","description":"Limit results to those matching a string.","required":false,"schema":{"type":"string","description":"Limit results to those matching a string."}},{"name":"after","in":"query","description":"Limit response to resources published after a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published after a given ISO8601 compliant date."}},{"name":"before","in":"query","description":"Limit response to resources published before a given ISO8601 compliant date.","required":false,"schema":{"type":"string","description":"Limit response to resources published before a given ISO8601 compliant date."}},{"name":"exclude","in":"query","description":"Ensure result set excludes specific IDs.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Ensure result set excludes specific IDs."}},{"name":"include","in":"query","description":"Limit result set to specific ids.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Limit result set to specific ids."}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items.","required":false,"schema":{"type":"integer","description":"Offset the result set by a specific number of items."}},{"name":"order","in":"query","description":"Order sort attribute ascending or descending.","required":false,"schema":{"type":"string","description":"Order sort attribute ascending or descending.","enum":["asc","desc"]}},{"name":"orderby","in":"query","description":"Sort collection by object attribute.","required":false,"schema":{"type":"string","description":"Sort collection by object attribute.","enum":["date","id","include","title","slug","modified"]}},{"name":"filter","in":"query","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization.","required":false,"schema":{"type":"object","description":"Use WP Query arguments to modify the response; private query vars require appropriate authorization."},"explode":true,"style":"deepObject"}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}},"links":{"accommodation_type_id":{"description":"Embeddable links.","operationId":"getAccommodationTypesId","parameters":{"id":"$response.body#\/accommodation_type_id"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Create an accommodation type","tags":["Accommodation types"],"operationId":"PostAccommodationTypes","parameters":[{"name":"title","in":"query","description":"Title.","required":true,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodation_types\/{id}":{"get":{"description":"","summary":"Retrieve an accommodation type","tags":["Accommodation types"],"operationId":"GetAccommodationTypesId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}},"links":{"accommodation_type_id":{"description":"Embeddable links.","operationId":"getAccommodationTypesId","parameters":{"id":"$response.body#\/accommodation_type_id"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Update an accommodation type","tags":["Accommodation types"],"operationId":"PostAccommodationTypesId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Update an accommodation type","tags":["Accommodation types"],"operationId":"PutAccommodationTypesId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Update an accommodation type","tags":["Accommodation types"],"operationId":"PatchAccommodationTypesId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"delete":{"description":"","summary":"Delete an accommodation type","tags":["Accommodation types"],"operationId":"DeleteAccommodationTypesId","parameters":[{"name":"id","in":"path","description":"Unique identifier for the resource.","required":true,"schema":{"type":"integer","description":"Unique identifier for the resource."}},{"name":"force","in":"query","description":"Whether to bypass trash and force deletion.","required":false,"schema":{"type":"boolean","description":"Whether to bypass trash and force deletion."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodation_types\/batch":{"post":{"description":"","summary":"Batch update accommodation types","tags":["Batch"],"operationId":"PostBatch_3","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"put":{"description":"","summary":"Batch update accommodation types","tags":["Batch"],"operationId":"PutBatch_3","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"patch":{"description":"","summary":"Batch update accommodation types","tags":["Batch"],"operationId":"PatchBatch_3","parameters":[{"name":"title","in":"query","description":"Title.","required":false,"schema":{"type":"string","description":"Title."}},{"name":"description","in":"query","description":"Description.","required":false,"schema":{"type":"string","description":"Description."}},{"name":"excerpt","in":"query","description":"Excerpt.","required":false,"schema":{"type":"string","description":"Excerpt."}},{"name":"adults","in":"query","description":"Adults.","required":false,"schema":{"type":"integer","description":"Adults."}},{"name":"children","in":"query","description":"Children.","required":false,"schema":{"type":"integer","description":"Children."}},{"name":"total_capacity","in":"query","description":"Total capacity.","required":false,"schema":{"type":"integer","description":"Total capacity."}},{"name":"bed_type","in":"query","description":"Bed Type.","required":false,"schema":{"type":"string","description":"Bed Type."}},{"name":"size","in":"query","description":"Room square meters.","required":false,"schema":{"type":"number","description":"Room square meters."}},{"name":"view","in":"query","description":"City view, seaside, swimming pool etc.","required":false,"schema":{"type":"string","description":"City view, seaside, swimming pool etc."}},{"name":"services","in":"query","description":"Service ids.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Service id."},"title":{"type":"string","description":"Service title.","readOnly":true}},"required":["id"],"description":"Service item."},"description":"Service ids."}},{"name":"categories","in":"query","description":"Category terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Category id."},"name":{"type":"string","description":"Category name.","readOnly":true}},"required":["id"],"description":"Category item."},"description":"Category terms."}},{"name":"tags","in":"query","description":"Tag terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag id."},"name":{"type":"string","description":"Tag name.","readOnly":true}},"required":["id"],"description":"Tag item."},"description":"Tag terms."}},{"name":"amenities","in":"query","description":"Amenity terms.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Amenity id."},"name":{"type":"string","description":"Amenity name.","readOnly":true}},"required":["id"],"description":"Amenity item."},"description":"Amenity terms."}},{"name":"attributes","in":"query","description":"Attributes.","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute id."},"title":{"type":"string","description":"Attribute title.","readOnly":true},"terms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Attribute term id."},"name":{"type":"string","description":"Attribute term name.","readOnly":true}},"required":["id"]},"description":"Attribute terms."}},"required":["id"],"description":"Attribute item."},"description":"Attributes."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/batch"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"\/accommodation_types\/categories":{"get":{"description":"","summary":"List all categories","tags":["Accommodation types \/ Categories"],"operationId":"GetAccommodationTypes\/Categories","parameters":[{"name":"context","in":"query","description":"Scope under which the request is made; determines fields present in response.","required":false,"schema":{"type":"string","description":"Scope under which the request is made; determines fields present in response.","enum":["view","embed","edit"]}},{"name":"page","in":"query","description":"Current page of the collection.","required":false,"schema":{"type":"integer","description":"Current page of the collection."}},{"name":"per_page","in":"query","description":"Maximum number of items to be returned in result set.","required":false,"schema":{"type":"integer","description":"Maximum number of items to be returned in result set."}},{"name":"search","in":"query","description":"Limit results to those matching a string.","required":false,"schema":{"type":"string","description":"Limit results to those matching a string."}},{"name":"exclude","in":"query","description":"Ensure result set excludes specific IDs.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Ensure result set excludes specific IDs."}},{"name":"include","in":"query","description":"Limit result set to specific ids.","required":false,"schema":{"type":"array","items":{"type":"integer"},"description":"Limit result set to specific ids."}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items. Applies to hierarchical taxonomies only.","required":false,"schema":{"type":"integer","description":"Offset the result set by a specific number of items. Applies to hierarchical taxonomies only."}},{"name":"order","in":"query","description":"Order sort attribute ascending or descending.","required":false,"schema":{"type":"string","description":"Order sort attribute ascending or descending.","enum":["asc","desc"]}},{"name":"orderby","in":"query","description":"Sort collection by resource attribute.","required":false,"schema":{"type":"string","description":"Sort collection by resource attribute.","enum":["id","include","name","slug","term_group","description","count"]}},{"name":"hide_empty","in":"query","description":"Whether to hide resources not assigned to any products.","required":false,"schema":{"type":"boolean","description":"Whether to hide resources not assigned to any products."}},{"name":"parent","in":"query","description":"Limit result set to resources assigned to a specific parent. Applies to hierarchical taxonomies only.","required":false,"schema":{"type":"integer","description":"Limit result set to resources assigned to a specific parent. Applies to hierarchical taxonomies only."}},{"name":"product","in":"query","description":"Limit result set to resources assigned to a specific product.","required":false,"schema":{"type":"integer","description":"Limit result set to resources assigned to a specific product."}},{"name":"slug","in":"query","description":"Limit result set to resources with a specific slug.","required":false,"schema":{"type":"string","description":"Limit result set to resources with a specific slug."}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/accommodation_types-categories"}}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}},"post":{"description":"","summary":"Create a category","tags":["Accommodation types \/ Categories"],"operationId":"PostAccommodationTypes\/Categories","parameters":[{"name":"name","in":"query","descri
[...]
